dist/
node_modules/
coverage/
docs/
public/
public/uploads/
.tsc-out/

pnpm-lock.yaml
.pnp
.pnp.js

*.md
*.json
*.log
.env
.env.*


logs/
npm-debug.log
yarn-debug.log
yarn-error.log

.vscode/
.idea/
.DS_Store

package-lock.json
yarn.lock
